<!DOCTYPE html>
<html>
<head><title>Send Push</title></head>
<body>
<h1>Send Push</h1>
<form method="POST" action="/push">
  <label>Enrollment IDs (comma separated):<br>
  <input type="text" name="ids" size="80"></label><br>
  <button type="submit">Send</button>
</form>
<a href="/">Back</a>
</body>
</html>
